*{

    box-sizing: border-box;
    font-family: Roboto;
    text-align: justify;
}
p{
    font-size: 19px;
}

.name{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.blank{
    width: 100px;
    height: 5px;
    background-color: blue;
}
.first{
    position: fixed;
    top: 0;
}
.info i{
    color: #645549;
    font-size: 19px;
    /* margin-right: 5px; */
}
a{
    text-decoration: none;
}
.faicons i{
    color: white;
    background-color: #504a4a;
}
.links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
}
.first h1{
    font-size: 22px;
}

.second {
    background: url(/img/IMG20250411135301.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  }
 .card img{
    width: 160px;
    height: auto;
 }
 .summery span p{
    border-radius: 50px;
    border: 3px solid #0d0d49;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 15px;
 }

.Border{
    border-left: 5px solid blue;
    padding-left: 15px;
    border-radius: 8px;
}
.Border a{
    background-color: #e0dde2;
    border-radius: 3px;
    color: #090629;
    text-decoration: none;
    padding: 5px 30px;
    font-weight: 500;
    font-family: cursive;
    font-size: 16px;
}

@media (max-width:576px) {
    .first{
        display: none;
    }
  
}
